* {
    margin: 0;
    padding: 0;
    font-size: 40px;
    color: rgb(0, 0, 0);
    text-shadow: rgb(117, 117, 117) 2px 2px 10px;
}
	body {align-items: center;
          text-align: center;
          background-color: rgb(197, 186, 82);
          margin-bottom: 200px;
   animation-name: cuerpo;
   animation-duration: 2s;
   animation-iteration-count:infinite;
   animation-direction: alternate; 
}
@keyframes cuerpo { 
    0% {background:rgb(62, 96, 124);}
    100% {background:rgb(126, 109, 26);}} 


.btn {background-color: rgb(41, 106, 122);
    position: relative;
      margin-top: 3%;
      height: 80px;
      width: 800px;
      border: solid black 3px;
      box-shadow: rgb(56, 55, 55) 3px 3px 40px;
      cursor: pointer;
       transition: ease-out 3s; 
      color: rgb(0, 0, 0);
      /* animation-name: btna; 
      animation-duration: 2s; 
      animation-iteration-count:infinite;
      animation-direction: alternate; */
      transition: all 0.3s;
      /* transition: width 3s; */
    }
    .btn:hover{background-color: rgb(21, 99, 119);
      /* transition: all 0.3s; */
      border-radius: 0% 10% 0% 20%;
      box-shadow: rgb(206, 186, 186) 3px 3px 70px;
      text-shadow: black 1px 1px 10px;
      color: white;
      /* width: 450px; */
    }
#btn {background-color: rgb(41, 106, 122);
    position: relative;
      margin-top: 3%;
      height: 80px;
      width: 800px;
      border: solid black 3px;
      box-shadow: rgb(56, 55, 55) 3px 3px 40px;
      cursor: pointer;
      color: rgb(0, 0, 0);
}

#btn:hover{background-color: rgb(21, 99, 119);
    border-radius: 0% 10% 0% 20%;
    box-shadow: rgb(206, 186, 186) 3px 3px 50px;
    color: rgb(184, 184, 184);

  }










  #pie {
    height:70px;
    line-height:50px;
    background:black;
    color:white;
    text-align:center;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
  }












































































































































































/*///////////////NAVE ALIENIJENA ////////////////*/


    .nave {
    position: absolute;
    left: 750px;
    top: 600px;
    transition: 0.4s;
    border-radius: 50%; 
    animation-name: nave2;
    animation-duration: 20s; 
     animation-iteration-count:infinite;
     animation-direction: alternate;
   } 
   @keyframes nave2 { 
    0%{left: 0px; top: 0px;
     }
     10% {top: 100px;}   
      
    20% { left: 150px;}
    
    30% { top: 400px; }
    
    40%{
      left:1300px;
      }
      50%{left: 1000px; top: 300px; opacity: 0%;
      }
      60% {top: 350px; right: 50px; opacity: 0%;}   
      
     70% { left: 150px;opacity: 0%;}
     
     80% { top: 400px; opacity: 100%;}

     90% { top: 700px; opacity: 0%;}

     100%{
       left:100px;opacity: 100%;
       }
    }
    
/*///////////////Plant ////////////////*/

.plant {
    position: absolute;
    top: -10px;
    left: 0px;
    animation-name: plant1;
    animation-duration: 3s; 
     animation-iteration-count:infinite;
     animation-direction: alternate;
     z-index: -1;


}
@keyframes plant1 { 
    0%{transform: rotate(20deg);}
 
     100%{left: 50px; top: -40px;
        transform: rotate(1deg);
       }
    }
    